<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring_security" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.spring_security.SpringSecurityApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>